@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4vh;
    background-color: rgb(38, 119, 81);
    padding: 2%;
    justify-content: space-between;
}

.hero {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2.5vw;
}

#mainSection {
    display: flex;
    flex-direction: row;
}

.leftBar {
    background-color: rgb(38, 119, 81);
    min-height: 100vh;
    min-width: 190px;
    width: 25%;
    max-width: 250px;
    padding: 2%;
}

.righHeaderDiv {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px
}


#userIcon {
    height: 2.25vh;
}

.userName {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.25vw;
}

.projectDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.myProjects {
    font-family: 'Roboto', sans-serif;
    font-size: 1.35vw;
    color: white;
    font-weight: 600;
}

.projectTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25vw;
    color: white;
    cursor: pointer;
    text-decoration-line: underline;
}

#todoSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    width: 100%;
    height: min-content;
    gap: 30px;
    justify-content: center;
}

.projectBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(224, 231, 223, 0.623);
    border-radius: 0px;
    align-self: start;
    text-align: center;
    padding: 1%;
    border-left: solid rgb(38, 119, 81);
    border-width: 8px;
    border-radius: 10px;
    width: 15vw;
    height: 15vh;
    font-size: 1vw;
    text-align: left;
    box-shadow: 0px 15px 10px -15px #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 570;
}