@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(209, 209, 209);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    background-color: rgb(38, 119, 81);
    padding: 2%;
    justify-content: space-between;
}

.hero {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2rem;
}

#mainSection {
    display: flex;
    flex-direction: row;
}

.leftBar {
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 119, 81);
    min-height: 100vh;
    min-width: fit-content;
    width: fit-content;
    max-width: 250px;
    padding: 2%;
    padding-top: 1%;
    gap: 15px;
}

.righHeaderDiv {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px
}


#userIcon {
    height: 2.25vh;
    min-height: 18px;
}

.userName {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1rem;
}



.projectDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#resetDiv {
    display: flex;
    align-items: flex-start;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.65rem;
    color: rgb(141, 167, 47);
    font-weight: 600;
    text-decoration-line: underline;
    cursor: pointer;
}

.newProject {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    text-decoration-line: underline;
    cursor: pointer;
}

.newProject:hover {
    color: orange !important;
}

.myProjects {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}

.projectTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;
    color: white;
}

#todoSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    width: 100%;
    height: min-content;
    gap: 30px;
    justify-content: center;
}

.projectBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0px;
    align-self: start;
    text-align: center;
    padding: 1%;
    border-left: solid rgb(38, 119, 81);
    border-width: 8px;
    border-radius: 10px;
    min-width: 200px;
    width: 300px;
    min-height: 100px;
    height: 15vh;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0px 15px 10px -15px #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 570;
    cursor: pointer;
}

.projectBox:hover {
    background-color: rgb(38, 119, 81) !important;
    color: white !important;
}

#fullProjectDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 2%;
    gap: 15px;
}

#editingDiv,
#newProjectDiv {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 5px;
    min-width: 350px;
    max-width: 650px;
    height: max-content;
    border-left: solid rgb(38, 119, 81);
    background-color: white;
    box-shadow: 0px 15px 10px -15px #111;
    padding: 2%;
    border-width: 8px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 570;
}

#editingForm,
#newForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    height: max-content;
}

.editButton {
    display: flex;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 130, 84);
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.cancelButton {
    display: flex;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: yellow;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}


.deleteButton {
    display: flex;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(63, 0, 0);
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

#toDoDiv {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
    min-width: 350px;
    max-width: 650px;
    min-height: 94px;
    height: max-content;
    border-left: solid rgb(38, 119, 81);
    background-color: white;
    box-shadow: 0px 15px 10px -15px #111;
    padding: 2%;
    padding-top: 2%;
    border-width: 8px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 570;
}

#projectDisplay {
    display: flex;
    flex-direction: column;
    height: 80px;
    gap:15px
}

#newtoDo, #showDetails {
    font-size: 0.75rem;
    background-color: grey;
    box-shadow: 0px 15px 10px -15px #111;
    color: white;
    padding: 2%;
    border-width: 8px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    width: max-content;
    cursor: pointer;
}

#todoForm {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
    min-width: 350px;
    max-width: 650px;
    min-height: 94px;
    height: max-content;
    border-left: solid rgb(38, 119, 81);
    background-color: white;
    box-shadow: 0px 15px 10px -15px #111;
    padding: 2%;
    padding-top: 2%;
    border-width: 8px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 570;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

label,
input {
    /* display: block; */
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    width: 200px;
}

input,
select,
option {
    height: 20px;

}